.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.login_wrapper {
  min-height: 100vh;
  background: #f7f7f7;
  font-size: 0;
  padding-top: 1.2rem;
}
.login_wrapper .login_box .input_box {
  padding: 0.2rem 0.4rem;
  background: #fff;
  font-size: 0;
  line-height: 1rem;
  display: flex;
  display: -webkit-flex;
}
.login_wrapper .login_box .input_box input {
  font-size: 14px;
  border: none;
  outline: none;
}
.login_wrapper .login_box .user_pwd_input {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.login_wrapper .login_box .user_pwd_input .background {
  background: #4CD964;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ddd;
  height: .4rem;
  width: 1.2rem;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  right: .2rem;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn .show_pwd {
  font-size: 20px;
  width: 100%;
  height: .35rem;
  line-height: .35rem;
  position: relative;
  top: -0.1rem;
  padding-left: 0.2rem;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn .show_abc {
  font-size: 12px;
  width: 100%;
  height: .35rem;
  line-height: .35rem;
  padding-left: 0.2rem;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn .round_doct {
  width: .5rem;
  height: .5rem;
  background: #ddd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: absolute;
  top: -0.08rem;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn .pwd {
  left: -0.1rem;
}
.login_wrapper .login_box .user_pwd_input .ctrl_btn .abc {
  right: -0.1rem;
}
.login_wrapper .warm_prompt {
  color: red;
  padding-left: 10px;
  font-size: 12px;
  line-height: .6rem;
}
.login_wrapper .login_btn {
  width: 95%;
  color: #fff;
  background: #4CD964;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  line-height: .8rem;
}
.login_wrapper .reset_pwd {
  color: #3190E8;
  font-size: 14px;
  margin-top: 0.4rem;
  text-align: right;
  padding-right: 0.2rem;
}
