.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.box {
  width: 100%;
  padding-top: 0.8rem;
  background: #f7f7f7;
}
.comment_alert {
  width: 80%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-size: 0.24rem;
}
.comment_alert .download-warning {
  font-size: 1.6rem;
  text-align: center;
  color: #F8CB86;
}
.comment_alert .download-text {
  text-align: center;
  color: #4D4D4D;
  font-size: 0.28rem;
}
.comment_alert .change-box {
  width: 100%;
  background: #4CD964;
  text-align: center;
  color: #fff;
  line-height: .6rem;
  font-size: .4rem;
  margin-top: .4rem;
  border-radius: 0 0 5px 5px;
}
.pay-wrapper {
  width: 100%;
  padding-top: 0.8rem;
  font-size: 0;
  min-height: 100vh;
  background: #f7f7f7;
}
.pay-wrapper .pay_time {
  font-size: .24rem;
  background: #fff;
  text-align: center;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
}
.pay-wrapper .pay_time .remaining_time {
  font-size: .6rem;
  line-height: .8rem;
}
.pay-wrapper .pay_time .intro {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  display: flex;
  display: -webkit-flex;
}
.pay-wrapper .pay_time .intro span {
  flex: 1;
  text-align: left;
  font-size: .28rem;
}
.pay-wrapper .pay_time .intro span + span {
  text-align: right;
  font-weight: bold;
  color: #FF6600;
}
.pay-wrapper .change_pay_type {
  font-size: .28rem;
  padding-left: 0.2rem;
  line-height: .6rem;
}
.pay-wrapper > ul .pay_type_wrapper {
  background: #fff;
  padding: .2rem;
  font-size: 0;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
}
.pay-wrapper > ul .pay_type_wrapper .pay_logo {
  flex: 2;
}
.pay-wrapper > ul .pay_type_wrapper .pay_logo img {
  width: 100%;
}
.pay-wrapper > ul .pay_type_wrapper .pay_ch {
  flex: 7;
  font-size: .32rem;
  padding-left: 0.1rem;
}
.pay-wrapper > ul .pay_type_wrapper .select_pay_type {
  flex: 1;
  color: #ddd;
  font-size: .6rem;
}
.pay-wrapper > ul .pay_type_wrapper .select {
  color: #4CD964;
}
.pay-wrapper > ul .pay_type_wrapper:first-child {
  border-bottom: 1px solid #ddd;
}
.pay-wrapper .pay_btn {
  border: none;
  width: 90%;
  margin: 0 auto;
  background: #4CD964;
  line-height: .6rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  color: #fff;
  font-size: .36rem;
  text-align: center;
  margin-top: 0.3rem;
}
