.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.comment_header {
  height: .8rem;
  line-height: .8rem;
  background: #3190E8;
  color: #fff;
  text-align: center;
  font-size: .36rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
}
.comment_header .fa-angle-left {
  font-size: .6rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .3rem;
  color: #fff;
}
.comment_header .head_logo {
  font-size: .4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .3rem;
}
.comment_header .fa-user-o {
  font-size: .5rem;
  position: absolute;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
}
.comment_header .fa-chevron-left {
  position: absolute;
  left: .3rem;
  top: 50%;
  transform: translateY(-50%);
}
.comment_header .change_city {
  color: #fff;
  position: absolute;
  right: .3rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: .28rem;
}
.comment_header .fa-search {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .3rem;
}
.comment_header .edit,
.comment_header .login,
.comment_header .reset_secret {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: .3rem;
  font-weight: normal;
}
