.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.order_note_wrapper {
  min-height: 100vh;
  background: #f7f7f7;
  padding-top: 1rem;
  font-size: 12px;
}
.order_note_wrapper .speed_note {
  background: #fff;
  padding: 10px;
}
.order_note_wrapper .speed_note .speed_note_title {
  color: #333;
  font-size: 16px;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li {
  margin-top: 0.2rem;
  border: 1px solid #3190E8;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: inline-block;
  margin-right: 0.2rem;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li .remark_list_span {
  display: inline-block;
  padding: .2rem;
  font-size: 14px;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li .first {
  border-right: 1px solid #3190E8;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li .other {
  border-right: 1px solid #3190E8;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li .last {
  border: none;
}
.order_note_wrapper .speed_note .speed_note_type .remark_list_li .choose {
  background: #3190E8;
  color: #fff;
}
.order_note_wrapper .other_note {
  padding: 10px;
  background: #fff;
  margin-top: 0.2rem;
}
.order_note_wrapper .other_note .other_note_p {
  margin-bottom: 0.2rem;
  font-size: 14px;
}
.order_note_wrapper .other_note textarea {
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}
.order_note_wrapper .speed_btn {
  margin: 0 auto;
  text-align: center;
  width: 95%;
  color: #fff;
  font-size: 16px;
  background: #4CD964;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  line-height: .8rem;
}
