.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.choose_address_wrapper {
  padding-top: 0.8rem;
  font-size: .24rem;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list {
  padding: .2rem .3rem;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .fa-check-circle {
  font-size: .4rem;
  margin-right: 0.2rem;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .circle_checked {
  color: #4CD964;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p {
  line-height: .6rem;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p span {
  margin-right: 0.1rem;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .item_tab {
  background: #FF883F;
  color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  padding: 2px 5px;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .company {
  background: #FF5722;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .school {
  background: #3190E8;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .house {
  background: #4CD964;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .item_name {
  font-weight: bold;
  color: #333;
  font-size: .32rem;
}
.choose_address_wrapper .addressList_list_wrapper .addressList_list .choose_address_content > p .item_sex {
  color: #999;
}
.choose_address_wrapper .add_address {
  position: fixed;
  z-index: 10;
  bottom: 0;
  height: 1rem;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 100%;
  font-size: .28rem;
}
.choose_address_wrapper .add_address .fa-plus-square {
  margin-right: 0.1rem;
  color: #3190E8;
  font-size: .5rem;
}
