@import '../../../common/comment.less';
.choose_address_wrapper{
  .pt(1.1rem);
  font-size:.24rem;
  .add_address{
    .tc;
    .fix;
    bottom:.4rem;
    .ic;
    .flex;
    .at;
    font-size:.28rem;
    .fa-plus-square{
      .mr(.1rem);
      color:@background;
      font-size:.5rem;
    }
  }
}
