.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.prize-wrapper {
  padding-top: 0.8rem;
  min-height: 100vh;
  background: #f7f7f7;
}
.prize-wrapper .activity_banner {
  width: 100%;
}
.prize-wrapper .activity_banner img {
  width: 100%;
}
.prize-wrapper .invite_firend {
  display: flex;
  display: -webkit-flex;
  font-size: .24rem;
}
.prize-wrapper .invite_firend .invite_firend_style {
  flex: 1;
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  background: #fff;
}
.prize-wrapper .invite_firend .invite_firend_style img {
  width: .8rem;
}
.prize-wrapper .invite_firend .invite_firend_style p {
  line-height: .4rem;
}
.prize-wrapper .invite_num {
  display: flex;
  display: -webkit-flex;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}
.prize-wrapper .invite_num .invite_num_style {
  flex: 1;
  text-align: center;
  font-size: .24rem;
}
.prize-wrapper .invite_num .invite_num_style span {
  color: red;
  font-weight: bold;
  font-size: .4rem;
}
.prize-wrapper .invite_num .invite_people {
  border-left: 1px solid #ddd;
}
.prize-wrapper .income_detail {
  font-size: .24rem;
  text-align: center;
}
.prize-wrapper .incom_tips {
  text-align: center;
  font-size: .24rem;
  margin-top: 0.3rem;
}
.prize-wrapper .incom_tips img {
  width: .6rem;
}
.prize-wrapper .incom_tips p {
  line-height: .4rem;
  text-align: center;
}
