.inb {
  display: inline-block;
}
.b {
  display: block;
}
.pc {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.fw {
  font-weight: bold;
}
.cur {
  cursor: pointer;
}
.td {
  text-decoration: underline;
}
.flex {
  display: flex;
  display: -webkit-flex;
}
.at {
  -webkit-align-items: center;
  align-items: center;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.clamp {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.vc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.ic {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.br {
  border: 1px solid red;
}
.lf {
  float: left;
}
.rf {
  float: right;
}
.clear {
  clear: both;
}
.resetSecret_box {
  min-height: 100vh;
  background: #f7f7f7;
  padding-top: 1.1rem;
  font-size: 14px;
}
.resetSecret_box .update-wrapper {
  background: #fff;
  margin-bottom: 0.4rem;
}
.resetSecret_box .update-wrapper .input_wrapper {
  padding: .3rem .4rem;
}
.resetSecret_box .update-wrapper .input_wrapper input {
  border: none;
  outline: none;
}
.resetSecret_box .update-wrapper .input_wrapper + .input_wrapper {
  border-top: 1px solid #ddd;
}
.resetSecret_box .confirm_update {
  width: 95%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size: 14px;
  background: #4CD964;
  margin: 0 auto;
  text-align: center;
  line-height: .8rem;
  color: #fff;
}
